* {
  box-sizing: border-box;
}

html {
  background-color: rgb(15, 15, 15);
}

.container {
  width: 100%;
  .row {
    justify-content: center;
  }
}

:focus {
  outline: none;
}

::-webkit-scrollbar{
  background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb{
  background: rgb(60, 60, 60);
}