.content {
  min-height: 540px;
  height: 100%;
  text-align: center;
  padding: 100px 0 50px 0;
  background-color: rgb(25, 25, 25);
  &__box {
    width: 350px;
    height: 250px;
    margin: 10px;
    color: white;
    &__top {
      display: flex;
      height: 20px;
      font-size: 12px;
      &__title {
        width: 70%;
        text-align: left;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__icons {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        &__heart {
          width: 35px;
          text-align: left;
          color: pink;
        }
        &__star {
          color: yellow;
          padding-right: 5px;
        }
      }
    }
    &__video {
      height: 200px;
    }
    &__user {
      height: 20px;
      text-align: right;
      padding-right: 10px;
      font-size: 12px;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        text-decoration: none;
        color: rgb(180, 180, 180);
      }
    }
  }
  &__paginate {
    width: 100%;
    margin-bottom: 60px;
    padding: 0 70px;
    color: white;
    line-height: 50px;
    a {
      padding:0 10px;
      color: white;
    }
    a:hover {
      text-decoration: none;
      color: rgb(180, 180, 180);
    }
    .pagination {
      float: right;
    }
  }
}