.content
  = render partial: "searcharea", locals: { video: @video }
  .content__paginate
    = paginate(@videos)
  = render partial: "video", locals: { video: @video }
  .content__paginate
    = paginate(@videos)