.content {
  &__show {
    width: 100%;
    padding-top: 40px;
    &__box {
      width: 450px;
      height: 520px;
      color: white;
      margin: 0 20px;
      &__top {
        display: flex;
        margin: 0 10px;
        height: 30px;
        font-size: 15px;
        &__title {
          width: 75%;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__icons {
          width: 25%;
          display: flex;
          justify-content: flex-end;
          &__heart {
            width: 50%;
            text-align: right;
            color: pink;
            &__count {
              padding-left: 5px;
            }
            a {
              color: pink;
            }
            a:hover {
              text-decoration: none;
              color: pink;
            }
          }
          &__comment {
            width: 50%;
            text-align: right;
            color: skyblue;
            &__count {
              padding-left: 5px;
            }
          }
        }
      }
      &__video {
      }
      &__bottom {
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding: 0 15px;
        margin: 10px 0 20px 0;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          text-decoration: none;
          color: rgb(180, 180, 180);
        }
        &__user {
          margin-bottom: 10px;
          display: flex;
          &__icon {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            overflow: hidden;
          }
          &__name {
            font-size: 15px;
            margin-left: 10px;
            line-height: 40px;
          }
        }
        &__icons {
          height: 40px;
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          &__share {
            position: relative;
            :hover {
              color: rgb(180, 180, 180);
              cursor: pointer;
            }
            &__area {
              position: absolute;
              top: 30px;
              left: -37px;
              width: 90px;
              background-color: black;
              padding: 10px;
              &__twitter {
                text-align: left;
                :hover {
                  color: rgb(70, 233, 255);
                }
                &__btn {
                  display: flex;
                  &__icon {
                    margin-right: 5px;
                  }
                }
              }
              &__line {
                text-align: left;
                :hover {
                  color: rgb(105, 255, 45);
                }
                &__btn {
                  display: flex;
                  &__icon {
                    margin-right: 7px;
                  }
                }
              }
            }
          }
          &__edit {
            margin-left: 18px;
          }
          &__delete {
            margin-left: 15px;
          }
        }
      }
      &__description {
        height: 140px;
        text-align: left;
        border: solid 2px rgb(45, 45, 45);
        &__top {
          height: 30px;
          background-color: rgb(45, 45, 45);
          border-bottom: solid 2px rgb(45, 45, 45);
          padding: 0 15px;
          line-height: 28px;
        }
        &__bottom {
          height: 110px;
          padding: 10px;
          overflow: scroll;
          word-wrap:break-word;
        }
      }
    }
    &__comment {
      width: 450px;
      height: 500px;
      border: solid 2px rgb(45, 45, 45);
      color: white;
      margin: 0 20px;
      &__top {
        height: 30px;
        background-color: rgb(45, 45, 45);
        border-bottom: solid 2px rgb(45, 45, 45);
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        margin-bottom: 5px;
        line-height: 28px;
      }
      &__add {
        padding: 5px 10px;
        #comment-text {
          width: 100%;
          height: 25px;
          padding: 0 5px;
          background-color: rgb(25, 25, 25);
          color: white;
          border: 0px;
          border-bottom: solid 1px rgb(70, 70, 70);
          resize: none;
        }
        &__btn {
          display: flex;
          justify-content: flex-end;
          &__cansel {
            width: 70px;
            color: rgb(200, 200, 200);
            cursor: pointer;
          }
          &__send {
            width: 70px;
            background-color: grey;
            border: 0px;
          }
        }
      }
      &__bottom {
        height: 420px;
        font-size: 15px;
        overflow: scroll;
        word-wrap:break-word;
        padding: 5px 15px;
        &__top {
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              text-decoration: none;
              color: rgb(180, 180, 180);
            }
          }
          &__user{
            display: flex;
            &__icon {
              width: 30px;
              height: 30px;
              border-radius: 100px;
              overflow: hidden;
              margin-right: 10px;
            }
            &__name {
              line-height: 30px;
            }
          }
          &__icons {
            display: flex;
            width: 50px;
            line-height: 30px;
            justify-content: space-around;
          }
        }
        &__text {
          padding: 0 40px;
          margin-bottom: 10px;
          text-align: left;
        }
        &__reply {
          padding: 0px 10px;
          #reply-text {
            width: 100%;
            height: 25px;
            padding: 0 5px;
            background-color: rgb(25, 25, 25);
            color: white;
            border: 0px;
            border-bottom: solid 1px rgb(70, 70, 70);
            resize: none;
          }
          &__btn {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end;
            &__cansel {
              width: 70px;
              color: rgb(200, 200, 200);
              cursor: pointer;
            }
            &__send {
              width: 70px;
              background-color: grey;
              border: 0px;
            }
          }
        }
        &__view-btn {
          background-color:  rgb(60, 60, 60);
          color: white;
          margin: 0 10px;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          &__text {
            margin-left: 5px;
          }
          &:hover {
            cursor: pointer;
          }
        }
        &__view-reply {
          &__top {
            display: flex;
            justify-content: space-between;
            margin: 5px 35px 0px 35px;
            a {
              text-decoration: none;
              color: white;
              &:hover {
                text-decoration: none;
                color: rgb(180, 180, 180);
              }
            }
            &__user{
              margin-bottom: 5px;
              display: flex;
              &__icon {
                width: 30px;
                height: 30px;
                border-radius: 100px;
                overflow: hidden;
                margin-right: 10px;
              }
              &__name {
                line-height: 30px;
              }
            }
            &__icons {
              display: flex;
              width: 50px;
              line-height: 30px;
              justify-content: space-around;
            }
          }
          &__text {
            padding: 0 75px 0 75px;
            margin-bottom: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}