* {
  box-sizing: border-box;
}

html {
  background-color: rgb(15, 15, 15);
}

.container {
  width: 100%;
  .row {
    justify-content: center;
  }
}

body {
  width: 100vw;
  height: 100%;
  background-color: black;
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: rgb(45, 45, 45);
    position: fixed;
    z-index: 1;
    
    &__title {
      line-height: 60px;
      font-size: 24px;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: rgb(180, 180, 180);
      }
    }
    &__option {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      &__plus {
        width:70px;
        text-align: center;
        &__text {
          font-size: 12px;
        }
      }
      &__search {
        width:70px;
        text-align: center;
        &__text {
          font-size: 12px;
        }
      }
      &__user {
        width:70px;
        text-align: center;
        &__text {
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      a {
        color: white;
        text-decoration: none;
      }
      :hover {
        color: rgb(180, 180, 180);
      }
    }
  }
  .footer {
    display: flex;
    width: 100vw;
    height: 160px;
    padding: 20px;
    background-color: rgb(45, 45, 45);
    &__leftbox {
      width: 50%;
      &__title {
        color: white;
        margin-bottom: 5px;
        font-size: 20px;
      }
      &__message {
        color: white;
        margin-bottom: 10px;
      }
      &__icons {
        color: white;
        margin-bottom: 10px;
        a {
          color: white;
          text-decoration: none;
          margin-right: 5px;
        }
        a:hover {
          color: rgb(180, 180, 180);
        }
      }
      &__copyright {
        color: white;
        margin-bottom: 10px;
        font-size: 12px;
      }
    }
    &__rightbox {
      width: 50%;
      &__about {
        color: white;
        margin-bottom: 5px;
      }
      &__help {
        color: white;
        margin-bottom: 5px;
      }
    }
  }
}