.content {
  .userbox {
    padding-top: 40px;
    &__top {
      height: 210px;
      display: flex;
      padding: 0 10%;
      color: white;
      &__left {
        &__icon {
          width: 180px;
          height: 180px;
          border-radius: 100px;
          margin-right: 25px;
          overflow: hidden;
        }
      }
      &__right {
        padding-top: 40px;
        &__name {
          width: 250px;
          height: 50px;
          font-size: 24px;
          line-height: 50px;
          margin-bottom: 30px;
        }
        &__option {
          display: flex;
          font-size: 15px;
          a {
            color: rgb(180, 180, 180);
            text-decoration: none;
          }
          &__edit {
            width: 80px;
            height: 27px;
            background-color: black;
            margin-left: 35px;
            border: solid 1px rgb(150, 150, 150);
            cursor: pointer;
            &__btn {
              height: 100%;
            }
          }
          &__logout {
            width: 80px;
            height: 27px;
            margin-left: 20px;
            background-color: black;
            border: solid 1px rgb(150, 150, 150);
            cursor: pointer;
            &__btn {
              height: 100%;
            }
          }
        }
      }
    }
    &__bottom {
      margin: 0 10% 40px 10%;
      height: 90px;
      background-color: rgb(15, 15, 15);
      border: solid 1px rgb(150, 150, 150);
      font-size: 15px;
      overflow: auto;
      word-wrap:break-word;
      padding: 10px;
      color: white;
      text-align: left;
    }
  }
  .select {
    display: flex;
    color: white;
    margin: 30px 10%;
    cursor: pointer;
    &__videos {
      width: 50%;
      border: solid 1px rgb(150, 150, 150);
      &.active {
        background-color: rgb(150, 150, 150);
        color: black;
      }
    }    
  }
}